{% extends "base.html" %}
{% load staticfiles %}

	{% block content%}
        <!--Adress with respect to home page  -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="/" style="font-size:18px"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li class="active" style="font-size:18px"> About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of address bar   -->

        <section style="background-color:#F5F5F5;">
        	<div class="container">
    			<div class="row" style="padding-top:25px;">
    				<div class="col-lg-4">  
    					<i class="fa fa-book fa-5x img-responsive" style="font-size:17em; color:#5EB95E"></i>
    				</div>
    				<div class="col-lg-8">
    					<div class="progress progress-success">
							<div class="bar" style="width: 100%; text-align:left; padding-left:10px;">
							   <h4>	Introduction to our Institute </h4>
							</div>
						</div>


						<ol>
							<ui>
								<p align="justify">
									CK Management Guidance is an unique and innovative Academic Institute and works for not only imparting knowledge but also for personality development. It works for creativity in knowledge and training.
								</p>
							</ui>
						    <ui>
						        <p align="justify">
						            CK Management Guidance deals with Career Counselling, Career Guidance, Personality Development and Mind Programming Training for the overall development of Students.
						        </p>
						    </ui>
						    <ui>
						        <p align="justify">
						            CK Management Guidance is promoted by Chetan Raikwar & Team, subject matter experts & has a panel of over 10+ Experts including PhDs, Psychologist, and Career Counsellors along with Industry Professionals. 
						        </p>
						    </ui>
						    <ui>
						    	<p align="justify">
						    		CK Management Guidance has several institutional associations with Schools, Corporate & Institutions for evaluating and trained their children, staff & new recruits using the unique & innovative Mind Programming Training. The results of these Training are remarkably changes the life of many students.
						    	</p>
						    </ui>
						</ol>
						<h2><span style="color:#007349;">Creativity in Knowledge</span></h2>
    				</div> 
				</div>
            </div>
        <!-- end of container -->	
        </section>
    {% endblock %}