{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>ck-management | Aboutus</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="http://bootstraptaste.com" />
	<!-- css -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
	<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet" />
	<link href="{% static 'skins/default.css' %}" rel="stylesheet" />
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" >
</head>
<body>
    <div id="wrapper">
        
        <header>{% include "ckmg/header.html" %}</header>
        <!--Adress with respect to home page  -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="/" style="font-size:18px"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li class="active" style="font-size:18px"> About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of address bar   -->

        <section style="background-color:#F5F5F5;">
        	<div class="container">
    			<div class="row" style="padding-top:25px;">
    				<div class="col-lg-4">  
    					<i class="fa fa-book fa-5x img-responsive" style="font-size:17em; color:#5EB95E"></i>
    				</div>
    				<div class="col-lg-8">
    					<div class="progress progress-success">
							<div class="bar" style="width: 100%; text-align:left; padding-left:10px;">
							   <h4>	Introduction to our Institute </h4>
							</div>
						</div>


						<ol>
							<ui>
								<p align="justify">
									CK Management Guidance is an unique and innovative Academic Institute and works for not only imparting knowledge but also for personality development. It works for creativity in knowledge and training.
								</p>
							</ui>
						    <ui>
						        <p align="justify">
						            CK Management Guidance deals with Career Counselling, Career Guidance, Personality Development and Mind Programming Training for the overall development of Students.
						        </p>
						    </ui>
						    <ui>
						        <p align="justify">
						            CK Management Guidance is promoted by Chetan Raikwar & Team, subject matter experts & has a panel of over 10+ Experts including PhDs, Psychologist, and Career Counsellors along with Industry Professionals. 
						        </p>
						    </ui>
						    <ui>
						    	<p align="justify">
						    		CK Management Guidance has several institutional associations with Schools, Corporate & Institutions for evaluating and trained their children, staff & new recruits using the unique & innovative Mind Programming Training. The results of these Training are remarkably changes the life of many students.
						    	</p>
						    </ui>
						</ol>
						<h2><span style="color:#007349;">Creativity in Knowledge</span></h2>

    				</div>
    				<!--
    			    <div class="col-lg-8">
					   
    			    	<p align="justify">
						    CK Management Guidance is an educational coaching institute started in 2011 .CK Management Guidance is an unique and innovative Academic Institute and
						    works for not only imparting knowledge but also for the personality development. The basic objective is to improve the quality of education in the field of
						    management. It provides guidance for all BBA, MBA and other Professionals Courses.
						</p>

						<div class="progress progress-success">
							<div class="bar" style="width: 100%; text-align:left; padding-left:10px;">
							   <h4>	Mission </h4>
							</div>
						</div>

						<ol>
						    <ui>
						        <p align="justify">
						            To improve the quality of education in management.
						        </p>
						    </ui>
						    <ui>
						        <p align="justify">
						            To impart the quality education to the students of professionals courses.
						        </p>
						    </ui>
						</ol>
						<br/>

						<div class="progress progress-success">
							<div class="bar" style="width: 100%; text-align:left; padding-left:10px;">
								<h4> Vision </h4>
							</div>
						</div>

						<ol>
						    <ui>
						        <p align="justify">
						            To be the best quality imparter of professional education in Madhya Pradesh.
						        </p>
						    </ui>
						</ol>
		            </div>--> 
				</div>
            </div>
        <!-- end of container -->	
        </section>
        
        <footer>{% include "ckmg/footer.html" %}</footer>
        
    </div>


	<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
	<!-- javascript
    	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
	<script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
	<script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
	<script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
	<script src="{% static 'js/portfolio/setting.js' %}"></script>
	<script src="{% static 'js/jquery.flexslider.js' %}"></script>
	<script src="{% static 'js/animate.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
