{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>ck-management | Dmit_Analysis</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="http://bootstraptaste.com" />
	<!-- css -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
	<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet" />
	<link href="{% static 'skins/default.css' %}" rel="stylesheet" />
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" >
	<style type="text/css">
		li{
		  margin: 10px 0;
		}
	</style>
</head>
<body>
    <div id="wrapper">
        
        <header>{% include "ckmg/header.html" %}</header>
        <!--Adress with respect to home page  -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li class="active"> Mind Program / DMIT Analysis</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of address bar   -->

        <section style="background-color:#F5F5F5;">	
        	<div class="container">
        		<div class="row" style="padding-top:25px;">
        			<div class="col-lg-4">  
    					<img src="{% static 'img/services/globe.jpg' %}" height="370" />
    				</div>
    				<div class="col-lg-1"></div>
    				<div class="col-lg-7">
			        	<div>
						  <!-- Nav tabs -->
						  <ul class="nav nav-tabs" role="tablist" style="background-color:#DFF0D8;">
						    <li role="presentation" class="active"><a href="#tab1" aria-controls="home" role="tab" data-toggle="tab">Know Your Brain</a></li>
						    <li role="presentation"><a href="#tab2" aria-controls="profile" role="tab" data-toggle="tab">Know Your Child</a></li>
						    <li role="presentation"><a href="#tab3" aria-controls="messages" role="tab" data-toggle="tab">Choose Your Career</a></li>
						  </ul>

						  <!-- Tab panes -->
						  <div class="tab-content">
						  	<!--tab1 content -->
						    <div role="tabpanel" class="tab-pane fade in active" id="tab1">
					    		<h5>About our Brain</h5>
					    		<p>The human brain is the most fascinating three pounds of matter on this Universe. During brain development, 250,000 neurons are added every minute. The right side of the brain controls the left side of the body and vice versa. The hemispheres are divided in terms of what kind of thought they process or produce.</p>
					    		<hr>
					    		<div class="row">
					    			<div class="col-lg-3">
									    <ul class="list-unstyled">
									    	<li><b>Left</b></li>
									    	<li><i class="fa fa-chevron-right"></i> Analytical</li>
									     	<li><i class="fa fa-chevron-right"></i> Logical</li>
									     	<li><i class="fa fa-chevron-right"></i> Precise</li>
									     	<li><i class="fa fa-chevron-right"></i> Repetitive</li>
									     	<li><i class="fa fa-chevron-right"></i> Organized</li>
									     	<li><i class="fa fa-chevron-right"></i> Details</li>
									     	<li><i class="fa fa-chevron-right"></i> Scientific</li>
									     	<li><i class="fa fa-chevron-right"></i> Detached</li>
									     	<li><i class="fa fa-chevron-right"></i> Literal</li>
									     	<li><i class="fa fa-chevron-right"></i> Sequential</li>
									    </ul>
					    			</div>
					    			<div class="col-lg-6"><img src="{% static 'img/brain.jpg' %}"></div>
					    			<div class="col-lg-3">
					    				<ul class="list-unstyled">
									    	<li><b>Right</b></li>
									    	<li><i class="fa fa-chevron-right"></i> Creative</li>
									     	<li><i class="fa fa-chevron-right"></i> Imaginative</li>
									     	<li><i class="fa fa-chevron-right"></i> General</li>
									     	<li><i class="fa fa-chevron-right"></i> Intuitive</li>
									     	<li><i class="fa fa-chevron-right"></i> Conceptual</li>
									     	<li><i class="fa fa-chevron-right"></i> Big Picture</li>
									     	<li><i class="fa fa-chevron-right"></i> Heuristic</li>
									     	<li><i class="fa fa-chevron-right"></i> Empathetic</li>
									     	<li><i class="fa fa-chevron-right"></i> Figurative</li>
									     	<li><i class="fa fa-chevron-right"></i> Irregular</li>
									    </ul>
					    			</div>
					    		</div>
						    </div><!--end of tab1 -->
						    <!--tab2 content -->
						    <div role="tabpanel" class="tab-pane fade" id="tab2">
						    	<h5>Growth of a Child</h5>
						    	<p>From 0-3 years of age, the emotional bend of the child starts to grow quickly. Knowing a child's potential at an early age helps parents in making smart and easy decisions on parenting styles and educational methods.As an infant moves into toddlerhood, he learns new ways of life which help him to expand his horizons. With our DMIT-R one understands his or her hidden potential and talents.</p>
						    	<hr>
					    		<h5>Features</h5>
					    		<ul class="list-unstyled">
							    	<li><i class="fa fa-chevron-right"></i>  Know your and your child innate characteristics</li>
							     	<li><i class="fa fa-chevron-right"></i>  Know your Childs learning style or ability</li>
							     	<li><i class="fa fa-chevron-right"></i>  Discover your child's inborn talent and potential</li>
							     	<li><i class="fa fa-chevron-right"></i>  Self-evaluation test for Adults</li>
							     	<li><i class="fa fa-chevron-right"></i>  Know the compatibility with your spouse and business partner</li>
							     	<li><i class="fa fa-chevron-right"></i>  Facilitate efficient communication and effectiveness at work</li>
							     	<li><i class="fa fa-chevron-right"></i>  Have detailed comparison between left and right brain hemispheres</li>
							     	<li><i class="fa fa-chevron-right"></i>  Know distribution of multiple intelligences</li>
							     	<li><i class="fa fa-chevron-right"></i>  Innate personalities and characteristics</li>
							     	<li><i class="fa fa-chevron-right"></i>  Preferred learning style</li>
							     	<li><i class="fa fa-chevron-right"></i>  Select your subject stream</li>
							     	<li><i class="fa fa-chevron-right"></i>  Activities Selection</li>
							     	<li><i class="fa fa-chevron-right"></i>  Career Selection</li>
								</ul>
						    </div><!--end of tab2 -->
						    <!--tab3 content -->
						    <div role="tabpanel" class="tab-pane fade" id="tab3">
						    	<h5>What is Multiple Intelligence?</h5>
						    	<p>Medically it has been verified that the development of the brain, its lobesand fingerprints is done during the 7th and 21st week of pregnancy. Therefore there is a direct co-relation between the development of the brain and fingerprint. During the development the information is transcribed as our finger prints; that are unique for everyone.</p>
						    	<p>With the Science of Dermatoglyphics one understands his or her hidden potential and talents. This is a science which studies the patterns of skins (dermal) ridges present on the fingers, toes and the soles of human. It reveals the congenital links between our fingers and our intrinsic qualities and talents. By analyzing dermatoglyphy, we can accurately understand the distribution and amount of cells in the left and right brain of the cell, and predict where the potential lies. Although everyone is bored with strengths and weaknesses; if they are identified early, we may further develop the strengths and improve our weakness, so that the left and right brain may grow in a more balanced and blend way. </p>
						    	<hr>
						    	<div class="row">
						    		<div class="col-lg-4">
						    			<ul class="list-unstyled">
									    	<li><i class="fa fa-chevron-right"></i> Linguistic</li>
									     	<li><i class="fa fa-chevron-right"></i> Logical/Mathematical</li>
									     	<li><i class="fa fa-chevron-right"></i> Visual-Spatial</li>
									     	<li><i class="fa fa-chevron-right"></i> Musical</li>
									    </ul>
						    		</div>
						    		<div class="col-lg-5"></div>
						    		<div class="col-lg-3">
						    			<ul class="list-unstyled">
									    	<li><i class="fa fa-chevron-right"></i> Kinesthetic</li>
									     	<li><i class="fa fa-chevron-right"></i> Interpersonal</li>
									     	<li><i class="fa fa-chevron-right"></i> Naturalist</li>
									    </ul>
						    		</div>
						    	</div>
						    </div><!--end of tab3 -->

						  </div><!--end of tab-content -->
						</div>
					</div>
				</div>
			</div>
        </section>
        
        <footer>{% include "ckmg/footer.html" %}</footer>
        
    </div>


	<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
	<!-- javascript
    	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript">
	$('#myTabs a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	})
	</script>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
	<script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
	<script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
	<script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
	<script src="{% static 'js/portfolio/setting.js' %}"></script>
	<script src="{% static 'js/jquery.flexslider.js' %}"></script>
	<script src="{% static 'js/animate.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
