{% load staticfiles %}


    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="img-responsive" src="{% static 'img/cklogo.jpg' %}" style="margin:10px;" />
                <!--
                <a class="navbar-brand" href="/" style="margin-top:15px">
                    <img class="img-responsive" src="{% static 'img/cklogo.jpg' %}" />
                </a> -->
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/ckmg/aboutus/">About Us</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">The Art of Mind Programming <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/ckmg/dmitanalysis/">Dmit Analysis</a></li>
                            <li><a href="/ckmg/urja/">Urja</a></li>
                            <li><a href="/ckmg/success_club/">Chetan Raikwar Success System</a></li>
                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Library <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/ckmg/theorynotes/">Theory Notes</a></li>
                            <li><a href="/ckmg/modelpapers/">Model Papers</a></li>
                            <li><a href="/ckmg/ppt/">PPT</a></li>
                            <li><a href="/ckmg/project/">Projects</a></li>
                            <li><a href="/ckmg/businessplan/">Buisness Plan</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Services <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/ckmg/service/">Service</a></li>
                            <li><a href="/ckmg/training/">Training</a></li>
                            <li><a href="/ckmg/guidance/">Guidance</a></li>
                        </ul>
                    </li>
                    <li><a href="/ckmg/contact/">Contact Us</a></li>

                    {% if full_name %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false"> {{ full_name }} <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/accounts/logout/">sign out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="/accounts/login/">signin</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>

