{% extends "base.html" %}
{% load staticfiles %}


<!--==========================================================================================  -->
<!--==========================================================================================  -->
    {% block content %}    
        <section id="featured">
            <!-- start slider -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                    <!-- Slider -->
                        {% if slider_img %}
                                <div id="main-slider" class="flexslider">
                                    <ul class="slides">
                                        {% for q in slider_img %}
                                        <li>
                                            <img src="../../../media/{{q.slider_image}}" alt="" />
                                            <div class="flex-caption">
                                               
                                                <p> {{q.image_quote}} </p> 
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                        {% endif %} 
                    <!-- end slider -->
                    </div>
                </div>
            </div>  
        </section>

        

        <section id="content">
            <div class="container">
                <!-- Advertisement -->
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="heading">Advertisement</h4>
                        <div class="row">
                            <section id="projects">
                                <ul id="thumbs" class="portfolio">
                                    {% if advertisements %}
                                    {% for q in advertisements %}
                                        {% if q.status == "A" %}
                                            <li class="col-lg-3 design">
                                                <div class="item-thumbs">    
                                                    <a class="hover-wrap" href="{{ q.html_link }}">
                                                        <span class="overlay-img"></span>
                                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                                    </a>
                                                    <img src="../../../media/{{q.image}}" alt="advertisement image">
                                                </div>
                                            </li>
                                        {% else %}
                                            <li class="col-lg-3 design">
                                                <div class="item-thumbs">    
                                                    <a class="hover-wrap" href="#">
                                                        <span class="overlay-img"></span>
                                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                                    </a>
                                                    <img src="../../../media/{{q.image}}" alt="advertisement image">
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>

                <section class="callaction">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="big-cta">
                                    <div class="cta-text">
                                        <h2><span>Recent</span> Updates</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="box">
                                    <div class="box-gray aligncenter">
                                        <h4>Marketing News</h4>
                                        <ul>
                                            {% if mrnews_list %}
                                            {% for q in mrnews_list %}
                                                <li><a href="{{ q.link }}">{{ q.news_title }}</a></li>
                                            {% endfor %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="box">
                                    <div class="box-gray aligncenter">
                                        <h4>HR News</h4>
                                        <ul>
                                            {% if hrnews_list %}
                                            {% for q in hrnews_list %}
                                                <li><a href="{{ q.link }}">{{ q.news_title }}</a></li>
                                            {% endfor %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="box">
                                    <div class="box-gray aligncenter">
                                        <h4>Finance News</h4>
                                        <ul>
                                            {% if fanews_list %}
                                            {% for q in fanews_list %}
                                                <li><a href="{{ q.link }}">{{ q.news_title }}</a></li>
                                            {% endfor %}
                                            {% endif %} 
                                        </ul>     
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="box">
                                    <div class="box-gray aligncenter">
                                        <h4>Current Opening</h4>
                                        <ul>
                                            {% if conews_list %}
                                            {% for q in conews_list %}
                                                <li><a href="{{ q.link }}">{{ q.news_title }}</a></li>
                                            {% endfor %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
<!--==========================================================================================  -->
<!--==========================================================================================  -->
       
