{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8">
<title>ck-management</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://bootstraptaste.com" />
<!-- css -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
<!--<link href="{% static 'css/jcarousel.css' %}" rel="stylesheet" />-->
<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" />


<!-- Theme skin -->
<link href="{% static 'skins/default.css' %}" rel="stylesheet" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
    <div id="wrapper">
        <header>{% include "ckmg/header.html" %}</header>

        <!--==========================================================================================  -->
        <!--==========================================================================================  -->

        <section id="featured">
            <!-- start slider -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
            <!-- Slider -->
                <div id="main-slider" class="flexslider">
                    <ul class="slides">
                      <li>
                        <img class="img-responsive" src="{% static 'img/slides/1.jpg' %}" alt="" />
                      </li>
                      <li>
                        <img class="img-responsive" src="{% static 'img/slides/2.jpg' %}" alt="" />
                      </li>
                      <li>
                        <img class="img-responsive" src="{% static 'img/slides/3.jpg' %}" alt="" />
                      </li>
                      <li>
                        <img class="img-responsive" src="{% static 'img/slides/4.jpg' %}" alt="" />
                      </li>
                    </ul>
                </div>
            <!-- end slider -->
                    </div>
                </div>
            </div>  
        </section>

        <section class="callaction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="big-cta">
                        <div class="cta-text">
                            <h2><span>Hot</span> News</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>

            <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="box">
                                    <div class="box-gray aligncenter">
                                        <h4>Marketing News</h4>
                                        <div class="icon"><i class="fa fa-desktop fa-3x"></i></div>
                                        {% if mrnews_list %}
                                        {% for q in mrnews_list %}
                                            <p>{{ q.news_title }}</p>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="box-bottom">
                                        <a href="#">Learn more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="box">
                                    <div class="box-gray aligncenter">
                                        <h4>HR News</h4>
                                        <div class="icon"><i class="fa fa-pagelines fa-3x"></i></div>
                                        {% if hrnews_list %}
                                        {% for q in hrnews_list %}
                                            <p>{{ q.news_title }}</p>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="box-bottom">
                                        <a href="#">Learn more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="box">
                                    <div class="box-gray aligncenter">
                                        <h4>Finance News</h4>
                                        <div class="icon"><i class="fa fa-edit fa-3x"></i></div>
                                        {% if fanews_list %}
                                        {% for q in fanews_list %}
                                            <p>{{ q.news_title }}</p>
                                        {% endfor %}
                                        {% endif %}      
                                    </div>
                                    <div class="box-bottom">
                                        <a href="#">Learn more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="box">
                                    <div class="box-gray aligncenter">
                                        <h4>Current Opening</h4>
                                        <div class="icon"><i class="fa fa-code fa-3x"></i></div>
                                        {% if conews_list %}
                                        {% for q in conews_list %}
                                            <p>{{ q.news_title }}</p>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="box-bottom">
                                        <a href="#">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- divider -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="solidline">
                        </div>
                    </div>
                </div>
                <!-- end divider -->
                <!-- Portfolio Projects -->
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="heading">Advertisement</h4>
                        <div class="row">
                            <section id="projects">
                            <ul id="thumbs" class="portfolio">
                                <!-- Item Project and Filter Name -->
                                <li class="col-lg-3 design" data-id="id-0" data-type="web">
                                <div class="item-thumbs">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 1" href="img/works/1.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{% static 'img/works/1.jpg' %}" alt="advertisement image">
                                </div>
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 2" href="img/works/2.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{% static 'img/works/2.jpg' %}" alt="advertisement image">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 3" href="img/works/3.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{% static 'img/works/3.jpg' %}" alt="advertisement image">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 4" href="img/works/4.jpg">
                                <span class="overlay-img"></span>
                                <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{% static 'img/works/4.jpg' %}" alt="advertisement image">
                                </li>
                                <!-- End Item Project -->
                            </ul>
                            </section>
                        </div>
                    </div>
                </div>

            </div>
            </section>
<!--==========================================================================================  -->
<!--==========================================================================================  -->
        <footer>{% include "ckmg/footer.html" %}</footer>
    </div>


<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
<script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
<script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
<script src="{% static 'js/portfolio/setting.js' %}"></script>
<script src="{% static 'js/jquery.flexslider.js' %}"></script>
<script src="{% static 'js/animate.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
