{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>ck-management | Success_club</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="http://bootstraptaste.com" />
	<!-- css -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
	<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet" />
	<link href="{% static 'skins/default.css' %}" rel="stylesheet" />
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" >
</head>
<body>
    <div id="wrapper">
        
        <header>{% include "ckmg/header.html" %}</header>
        <!--Adress with respect to home page  -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="/" style="font-size:18px"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li class="active" style="font-size:18px"> The Art of Mind Programming / Chetan Raikwar Success System</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of address bar   -->

        <section style="background-color:#F5F5F5;">
        	<div class="container">
    		    <div class="row" style="padding-top:25px;">
    				<div class="col-lg-4">  
    					<img src="{% static 'img/success_club.jpg' %}" height="300" />
    				</div>
    			    <div class="col-lg-8">

    			    	<h5 align="justify">
				            We are coming up with the new innovative concept of “Chetan Raikwar Success System” under the umbrella of CK Management Guidance.
				        </h5>

				        <div class="progress progress-success">
							<div class="bar" style="width: 100%; text-align:left; padding-left:10px;">
							   <h4>	Mission of Chetan Raikwar Success System </h4>
							</div>
						</div>

						<ol>
						    <ui>
						        <p align="justify">
						            The mission of Success Club is to inspire, to uplift, to serve, to elevate, to educate and to encourage the morale, mindset and self confidence of students & professionals.
						        </p>
						    </ui>
						</ol>

						<div class="progress progress-success">
							<div class="bar" style="width: 100%; text-align:left; padding-left:10px;">
							   <h4>Necessity of Chetan Raikwar Success System </h4>
							</div>
						</div>

						<ol>
						    <ui>
						        <p align="justify">
						            This concept of Success Club is being developed from our other training and career counselling programmes. We have been in career counselling field since last five years and counselled around 4,000 students. We have observed that students have potentials, confidence, skills, talents and energy level to do any work but we found the problem in their attitude as well as found that they don’t have right guidance and directions for using these abilities. Due to this, our career counselling was not confined to career only. It was the combination of career counselling and mind programming.
						        </p>
						        <p align="justify">
						        	Hence, the primary purpose of making this club is totally the welfare of students as well as guiding and inspiring them to lead a successful and happy life.
						        </p>
						        <p align="justify">
						        	The Success Club is mainly for students of schools and colleges. There we will be 3-4 inspirational and theme based sessions, which will be addressed by experts of various fields. Apart from it, there will be a library and books will be issued to students on fortnightly reissue basis. Every month magazines and current affairs booklet will be given to the students permanently.
						        </p>
						    </ui>
						</ol>

						<div class="progress progress-success">
							<div class="bar" style="width: 100%; text-align:left; padding-left:10px;">
							   <h4>Activities in Chetan Raikwar Success System</h4>
							</div>
						</div>

						<div class="row" style="padding-top:25px;">
							<div class="col-lg-12">
								<div class="row-fluid">       
									  <table class="table table-condensed">
									    <thead>
									      <tr>
									        <th>s. No.</th>
									        <th>Activities</th>
									        <th>Per Month</th>
									      </tr>
									    </thead>
									    <tbody>
									      <tr>
									        <td>1</td>
									        <td>Inspirational Sessions</td>
									        <td>3-4</td>
									      </tr>
									      <tr>
									        <td>2</td>
									        <td>Inspirational & Motivational Books</td>
									        <td>2</td>
									      </tr>
									      <tr>
									        <td>3</td>
									        <td>Magazines (Stream Based)</td>
									        <td>2</td>
									      </tr>
									      <tr>
									        <td>4</td>
									        <td>Current Affairs’ Booklet</td>
									        <td>1</td>
									      </tr>
									    </tbody>
									  </table>
								</div>
							</div>
						</div>

						<div class="progress progress-success">
							<div class="bar" style="width: 100%; text-align:left; padding-left:10px;">
							   <h4>Benefits of Chetan Raikwar Success System</h4>
							</div>
						</div>
						<ol>
						    <ui>
						        <p align="justify">
						            Success mantras to achieve goals in life.
						        </p>
						    </ui>
						    <ui>
						        <p align="justify">
						           Inspiring and boosting sessions to keep students motivated throughout the life.
						        </p>
						    </ui>
						    <ui>
						        <p align="justify">
						            Improvement in concentration power.
						        </p>
						    </ui>
						    <ui>
						        <p align="justify">
						            Formation of good habits.
						        </p>
						    </ui>
						    <ui>
						        <p align="justify">
						            Assist to use mind power in achieving goals.
						        </p>
						    </ui>
						    <ui>
						        <p align="justify">
						            Development of positive attitude.
						        </p>
						    </ui>
						    <ui>
						        <p align="justify">
						            Guidance and right direction for personal and professional life.
						        </p>
						    </ui>
						    <ui>
						        <p align="justify">
						            Development of realistic attitude towards life.
						        </p>
						    </ui>
						    <ui>
						        <p align="justify">
						           Help in framing the better mindset. 
						        </p>
						    </ui>
						    <ui>
						        <p align="justify">
						            Help in setting clear vision for career.
						        </p>
						    </ui>
						    <ui>
						        <p align="justify">
						            Platform to interact with the various experts and opportunity to know their views on various themes.
						        </p>
						    </ui>
						    <ui>
						        <p align="justify">
						            Platform to expand the social network.
						        </p>
						    </ui>
						    <ui>
						        <p align="justify">
						           Free and easy book issue system.
						        </p>
						    </ui>
						</ol>
					
				</div><!-- end of row-->
            </div>
        <!-- end of container -->
        </section>
        
        <footer>{% include "ckmg/footer.html" %}</footer>
        
    </div>


	<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
	<!-- javascript
    	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
	<script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
	<script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
	<script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
	<script src="{% static 'js/portfolio/setting.js' %}"></script>
	<script src="{% static 'js/jquery.flexslider.js' %}"></script>
	<script src="{% static 'js/animate.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
