{% extends "base.html" %}
{% load staticfiles %}
	{% block content %}
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="/" style="font-size:18px"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li class="active" style="font-size:18px"> The Art of Mind Programming / URJA</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of address bar   -->

        <section style="background-color:#F5F5F5;">
        	<div class="container">
    		   <div class="row" style="padding-top:25px;">
    				<div class="col-lg-4" style="border: 2px solid #8AC007; padding-top:10px;">  
        				<div class="progress progress-success">
							<div class="bar" style="width: 100%; text-align:left; padding-left:10px;">
							   <h4>	Other Mind Programming Sessions </h4>
							</div>
						</div>
						<div class="" style="background-color:#DFF0D8">
						  <h4 style="padding:5px 0px 0px 10px;">Disha</h4>
						  <div class="well">A Career Counselling Sessions</div>
						</div>
						<div class="" style="background-color:#DFF0D8">
						  <h4 style="padding:5px 0px 0px 10px;">YODDHA</h4>
						  <div class="well">A Sales Training, Employee-Staff Training & Individual Training that will enhance their productivity , increase their efficiency and boost up their morale and calibre for performing their job.</div>
						</div>
						<div class="" style="background-color:#DFF0D8">
						  <h4 style="padding:5px 0px 0px 10px;">DRONACHARYA</h4>
						  <div class="well">A guidance and training by business expert to guide business aspirants and also to guide existing entrepneurs and businessmen.</div>
						</div>
						<div class="" style="background-color:#DFF0D8">
						  <h4 style="padding:5px 0px 0px 10px;">DISCOVER YOURSELF</h4>
						  <div class="well">One Week Program for discovering hidden calibre</div>
						</div>
    				</div>
    			    <div class="col-lg-8">
			
				        <h5 align="justify">
				            We are coming up with the new innovative concept of “URJA” under the umbrella of CK Management Guidance.
				        </h5>

						<div class="progress progress-success">
							<div class="bar" style="width: 100%; text-align:left; padding-left:10px;">
							   <h4>	Mission of “URJA”  </h4>
							</div>
						</div>

						<ol>
						    <ui>
						        <p align="justify">
						            The mission of Urja is to inspire, to uplift, to serve, to elevate, to educate and to encourage the morale, mindset and self confidence of students & professionals.
						        </p>
						    </ui>
						</ol>

						<div class="progress progress-success">
							<div class="bar" style="width: 100%; text-align:left; padding-left:10px;">
							   <h4>	Necessity of “URJA” </h4>
							</div>
						</div>

						<ol>
						    <ui>
						        <p align="justify">
						            This concept of Urja is being developed from our other training and career counselling programmes. We have been in career counselling field since last five years and counselled around 4,000 students. We have observed that students have potentials, confidence, skills, talents and energy level to do any work but we found the problem in their attitude as well as found that they don’t have right guidance and directions for using these abilities. Due to this, our career counselling was not confined to career only. It was the combination of career counselling and mind programming.
						        </p>
						        <p align="justify">
						            Hence, the primary purpose of making Urja is totally the welfare of students as well as guiding and inspiring them so that they can boost up themselves & to lead a successful and happy life.
						        </p>
						        <p align="justify">
						        	The Urja is for all students of schools and colleges as well as any human being. We will be spread Urja by our inspirational and theme based sessions, which will be addressed by experts of various fields. In addition to this we have FACEBOOK and WHATSAPP groups through which we spread Urja Daily through motivational messages.
						        </p>
						        <p align="justify">
						        	In this world of Distraction all minds require continuous inspiration for success and happy life. Urja will provide enormous amount of energy to you.
						        </p>
						        <p align="justify">
						        	Let's get you + your life to a completely new level of productivity + success + happiness. Actually, let's help you shatter your limits, doubts and excuses so you become "one of the Great Ones."Life is just too short to play small” So play big, think big and act big with the energizing fire of Urja.
						        </p>
						        <h5>With URJA</h5>
						        <ol>
								    <ui>
								        <p align="justify">
								            ...you can make a choice that will change the rest of your life
								        </p>
								    </ui>
								    <ui>
								        <p align="justify">
								            ...you can start a project that will make you famous
								        </p>
								    </ui>
								    <ui>
								        <p align="justify">
								            ...you can begin a new habit that will revolutionize your health
								        </p>
								    </ui>
								    <ui>
								        <p align="justify">
								            ...you can face a fear that shatters your limits
								        </p>
								    </ui>
								    <ui>
								        <p align="justify">
								            ...you can forgive a person and rise to freedom
								        </p>
								    </ui>
								    <ui>
								        <p align="justify">
								            ...you can inspire a child and become their hero 
								        </p>
								    </ui>
								    <ui>
								        <p align="justify">
								            ...you can discover an idea that rewires your thinking
								        </p>
								    </ui>
								    <ui>
								        <p align="justify">
								            ...you can make a move that CHANGES OUR WORLD
								        </p>
								    </ui>
								</ol>
								<p><b>Yes-you are that powerful--own it!</b></p>
						    </ui>
						</ol>
						<ol>
							<ui>
								<p align="left">Thanks</p>
							</ui>
							<ui>
								<p align="left">URJA Team</p>
							</ui>
							<ui>
								<p align="left">Inspire with the fire of Urja </p>
							</ui>
						</ol>
						<p><b>ऊर्जा एक व्याख्यान श्रृंखला है जिसमें कई विषयों पर जानी-मानी हस्तियाँ, जो अपने क्षेत्र में व्याख्यात हैं, व्याख्यान देती हैं। इस श्रृंखला का मुख्य उद्देश्य समय-समय पर छात्रों, नौकरी पेशा तथा व्यवसायियों को मार्गदर्शन और प्रेरणा देना है। जैसा कि इस श्रृंखला के नाम से ही स्पष्ट है कि यस श्रृंखला इन व्याख्यानों के माध्यम से सभी लोगों में ऊर्जा का संचार करती है। ऊर्जा श्रृंखला से जुड़े लोगों को ऊर्जा टीम फेसबुक और व्हाट्स एप्प पर विभिन्न ग्रुपों में प्रेरणापरक मैसेज भेजे जाते हैं और दैनिक स्तर पर सभी को ऊर्जा देने का प्रयास किया जाता है।
                        ये व्याख्यान निश्चित समय पर होते हैं, जिनकी तारीख पहले ही निर्धारित हो जाती है तथा जिनकी पूरी जानकारी आप इस वेबसाइट के द्वारा प्राप्त कर सकते हैं।
                        नोट: आप बहुत जल्दी इन व्याख्यानों के ऑडियो और वीडियो इस वेबसाइट के माध्यम से प्राप्त कर सकते हैं।</b></p>

                        <div class="progress progress-success">
							<div class="bar" style="width: 100%; text-align:left; padding-left:10px;">
							   <h4>	Topics of URJA Sessions</h4>
							</div>
						</div>

						<ol>
						    <ui>
						        <p align="justify">The Power of Habit</p>
						    </ui>
						    <ui>
						        <p align="justify">The Power of Mind</p>
						    </ui>
						    <ui>
						        <p align="justify">The Power of Choice</p>
						    </ui>
						    <ui>
						        <p align="justify">The Power of Desire</p>
						    </ui>
						    <ui>
						        <p align="justify">The Power of Learning</p>
						    </ui>
						    <ui>
						        <p align="justify">The Power of Focus for Students</p>
						    </ui>
						    <ui>
						        <p align="justify">The Power of Positive Word</p>
						    </ui>
						    <ui>
						        <p align="justify">Mind Application for Students</p>
						    </ui>
						    <ui>
						    	<p align="justify">Realistic Positive Thinking</p>
						    </ui>
						    <ui>
						    	<p align="justify">The Power of Subconscious Mind</p>
						    </ui>
						    <ui>
						    	<p align="justify">Guaranteed Success with Mind Programming</p>
						    </ui>
						</ol>	
					</div>
					
				</div><!-- end of row-->
            </div>
        <!-- end of container -->
        </section>
    {% endblock %}